/*
Error: Undefined variable: "$narrow_width".
        on line 13 of /Users/Kevin/Sites/newseful/newseful.github.io/scss/announcement.scss

8: 
9: .announcement__text {
10: 	@extend .serif;
11: 	@extend .text_medium;
12: 
13: 	width: $narrow_width;
14: 	margin: auto;
15: 
16: 	color: $gray_darkest;
17: }
18: 

Backtrace:
/Users/Kevin/Sites/newseful/newseful.github.io/scss/announcement.scss:13
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/script/tree/node.rb:50:in `perform'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/bin/compass:23:in `load'
/Users/Kevin/.rvm/gems/ruby-1.9.3-p286/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$narrow_width\".\A         on line 13 of /Users/Kevin/Sites/newseful/newseful.github.io/scss/announcement.scss\A \A 8: \A 9: .announcement__text {\A 10: 	@extend .serif;\A 11: 	@extend .text_medium;\A 12: \A 13: 	width: $narrow_width;\A 14: 	margin: auto;\A 15: \A 16: 	color: $gray_darkest;\A 17: }\A 18: "; }
