---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Globals

$black: #20232E;
$white: #FAFAFA;
$gray: darken($white, 5%);
$mid-gray: mix($black, $white, 50%);



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "colophon",
        "responds",
        "archive"
;
