.section--hero {
	padding: 10rem 0;
}

.hero__intro {
	width: $narrow_width;
	margin: auto;
}

.hero__intro-text {
	@extend .serif;
	@extend .text_large;

	color: $black;
}

.hero__docs-link {
	margin-left: 1rem;
}