@import "compass/css3";

.slides {
	@include transition(margin-left .5s ease);
}

.slide-control {
	@include box-sizing(border-box);
	@include transition(padding .05s ease);

	@extend .sans;
	@extend .text_medium;

	border: 1px solid $blue;
	background: $white;
	cursor: pointer;
	text-align: center;
	color: $blue;
	padding: .75rem .75rem;
	position: absolute;
	top: 50%;
	line-height: 1;
}

.slide-control:hover {
	padding: .75rem 1.5rem;
}

.advance {
	border-radius: 4px 0 0 4px;
	right: -1px;
}

.retreat {
	border-radius: 0 4px 4px 0;
	left: -1px;
}

.slide-img {
	width: 50%;
	margin: 2rem auto 0;
}

.slide-img img {
	max-width: 100%;
	display: block;
}

.slide-info {
	width: 60%;
	margin: auto;
	border-top: 1px solid $blue_lighter;
	text-align: center;
}

.slide-info__heading {
	@extend .sans;
	@extend .text_medium;

	color: $green;
}

.slide-info__body {
	@extend .serif;
	@extend .text_standard;

	color: $black;
}