@-webkit-keyframes pulse {
	0% { opacity : 1; }
	50% { opacity : 1; }
	70% { opacity: .5; }
	80% { opacity : .5; }
	100% { opacity : 1; }
}

.newseful-timeline__timeline-container {
	width: 10%;
	float: right;
	overflow: visible;
}

.newseful-timeline__event-container {
	width: 60%;
	float: right;
	color: #1A2326;
	position: relative;
}

.newseful-timeline__reaction-container {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 30%;
	float: left;
	position: relative;
	padding-left: 1rem;
}

.newseful-timeline__event-container * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.newseful-timeline__event-block {
	position: relative;
	border: 1px solid #D3E6ED;
	border-radius: 4px;
	padding: 1.1rem 1.3rem 1.3rem 1.3rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
	margin-left: 1.5rem;
}

.newseful-timeline__event-block::before {
	content: '';
	display: block;
	position: absolute;
	top: calc(1rem - 1px);
	left: calc(-1rem - 8px);
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 12px solid #D3E6ED;
}

.newseful-timeline__event-block::after {
	content: '';
	display: block;
	position: absolute;
	top: 1rem;
	left: calc(-1rem - 4px);
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 10px solid #FFF;
}

.newseful-timeline__timestamp {
	font-family: 'inconsolata', monospace;
	color: #799099;
	font-size: 0.75rem;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.newseful-timeline__event-text-content {
	font-family: "Lyon Text NYT", serif;
	font-size: 1rem;
	line-height: 1.3888888;
	margin: 1rem 0 0;
	padding: 0;
}

.newseful-timeline__event-line {
	stroke : #40C693;
	stroke-width: 2;
}

.newseful-timeline__event-node {
	stroke : #FFF;
	stroke-width: 3;
	fill: #40C693;
	stroke-location: outside;
}

.newseful-timeline__reaction-node {
	stroke : #FFF;
	stroke-width: 3;
	fill: #1A2326;
	stroke-location: outside;
}

.newseful-timeline__reaction-line {
	stroke : #799099;
	stroke-width: 2;
}

.newseful-timeline__reaction-container * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.newseful-timeline__reaction-block {
	position: absolute;
	background: #1A2326;
	border: 1px solid #FFF;
	color: #FFF;
	font-size: .75rem;
	padding: .5rem;
	border-radius: 4px;
	right: 1.5rem;
	transform: translate(0,.5rem);
	z-index: 1;
	margin-left: 1.5rem;
}

.newseful-timeline__reaction-text-content {
	display: none;
	margin-top: .7rem;
	font-family: 'Atlas Grotesk', sans-serif;
	line-height: 1.38888888;
}

.newseful-timeline__timestamp--reaction {
	color: #B09E52;
	font-family: 'Inconsolata', monospace;
	margin-top: .5rem;
}

.newseful-timeline__source-button {
	font-family:'Atlas Grotesk', sans-serif;
	display: block;
	margin-left: -.5rem;
	background: #B09E52;
	padding: .5rem;
	margin-right: -.5rem;
	margin-bottom: -.5rem;
	margin-top: .5rem;
	color: #F2E7B8;
	text-decoration: none;
}

.newseful-timeline__source-button:hover {
	background: #87793F;
}

.newseful-timeline__reaction-block::after {
	content:'';
	display: block;
	width: 0;
	height: 0;
	border-right: 7px solid transparent;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 7px solid #1A2326;
	position: absolute;
	top: .55rem;
	right: -14px;
}

.newseful-timeline__reaction-block::before {
	content:'';
	display: block;
	width: 0;
	height: 0;
	border-right: 7px solid transparent;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 7px solid #FFF;
	position: absolute;
	top: .55rem;
	right: -14px;
}

.newseful-timeline__reaction-title {
	font-family:'Atlas Grotesk', sans-serif;
	margin: 0;
	padding: 0;
}

.newseful-timeline__reaction-block:hover {
	z-index: 2;
	background: #F2E7B8;
	border: 1px solid #B09E52;
	color: #B09E52;
	width: calc(100% - 2.5rem);
}

.newseful-timeline__reaction-block:hover::before {
	border-left: 7px solid #B09E52;
}

.newseful-timeline__reaction-block:hover::after {
	right: -12px;
	border-left: 7px solid #F2E7B8;
}

.newseful-timeline__reaction-block:hover .newseful-timeline__reaction-text-content {
	display: block;
}

.newseful-timeline__date-marker {
	font-family: 'Inconsolata', monospace;
	fill: #83AFBA;
	font-size: .75rem;
}

.newseful-timeline__range-circle {
	fill: #FFF;
	stroke : #D3E6ED;
	stroke-width: 2;
}

.newseful-timeline__activity-circle {
	fill : #DB8D61;
	-webkit-animation: pulse 2s infinite;
}

.newseful-timeline__date-marker-bg {
	fill: #D3E6ED;
	/*stroke: #;
	stroke-width: 1;*/
	transform: translate(0,-50%);
}
.newseful-timeline__date-line {
	stroke : #D3E6ED;
	stroke-width: 2;
}

.newseful-timeline__tick {
	stroke : #D3E6ED;
	stroke-width: 2;
}

.newseful-timeline__label {
	position: absolute;
	top: -2rem;
	display: inline-block;
	padding: .25rem;
	background: #D3E6ED;
	color: #83AFBA;
	font-family: 'Atlas Grotesk', sans-serif;
	font-size: .75rem;
}

.newseful-timeline__label--left {
	right: 0;
}

.newseful-timeline__label::after {
	content: '';
	height: 0;
	width: 0;
	border: 5px solid #D3E6ED;
	display: block;
	position: absolute;
	bottom: -10px;
}

.newseful-timeline__label--right::after {
	left: 0;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

.newseful-timeline__label--left::after {
	right : 0;
	border-left: 5px solid transparent;
	border-bottom: 5px solid transparent;
}