.archive {

	transition: opacity .2s ease;
	position: absolute;
	top: 8.7em;
	left: 75%;
	width: 20%;
	color: $gray;
	//border-left: 1px solid $gray;
	opacity: .3;

	&:hover {
		opacity: 1;
	}

	h3 {
		font-family: "Atlas Grotesk", "aktiv-grotesk-std", sans-serif;
		color: $gray;
		padding-left: 37px;
		font-weight: 400;
		margin-top: .2em;	
	}

	li:not(:last-of-type) {
		margin-bottom: .5em;
	}

	a {
		color: $gray;

		&:hover {
			color: $black;
		}
	}
}