html, body {
    font-family: "ff-spinoza-web-pro", times, serif;
    color: $black;
    background: $white;
    font-size: 18px;
}

.wrapper {
    max-width: 600px;
    width: 45%;
    margin: auto;
}

.posts {
    list-style: none;
    padding: 5em 0 0 0;
}

.post-meta {
    font-family: "inconsolata", monospace;
    text-transform: uppercase;
    font-size: 11px;
}

.header {
    color: $mid-gray;
    //letter-spacing: 2px;
    position: absolute;
    top: 8.65em;
    right: 75%;
    font-weight: 600;
}

.footer {
    color: $mid-gray;
    font-family: "inconsolata", monospace;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 6em;
}

.line {
    width: 25%;
    border-top: 2px solid $mid-gray;
    margin: 5em 0;
}

article {
    a {
        color: $mid-gray;

        &:hover {
            color: $black;
        }
    }

    ul {
        list-style-type: disc;
        li {
            em {
                color: $mid-gray;
            }
        }
        li:not(:last-of-type) {
            margin-bottom: .3em;
        }
    }

    ol {
        ul, ol {
            margin-top: 1em;
        }

        padding:0;
        li:not(:last-of-type) {
            margin-bottom: .3em;
        }
    }
}