.colophon {
	position: fixed;
	top: 2em;
	left: 2em;
	font-family: "inconsolata", monospace;
	font-size: 11px;

	.kevin-button {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;

		-webkit-transition: border .15s ease, background 0s ease;
		transition: border .15s ease, background 0s ease;
		display: inline-block;
		width: 2em;
		height: 2em;
		border-radius: 2em;
		border: 4px solid $black;
		background: $white;
		cursor: pointer;
		vertical-align: middle;

		&:hover {
			-webkit-transition: border .15s ease, background 0s ease .15s;
			transition: border .15s ease, background 0s ease .15s;
			border: 1em solid $black;
			background: $black;

			+ span {
				opacity: 1;
				left: 15px;
			}
		}
	}

	span {
		-webkit-transition: left .15s ease, opacity .15s ease;
		transition: left .15s ease, opacity .15s ease;
		display: inline-block;
		vertical-align: middle;
		text-transform: uppercase;
		padding: 1em 1.3em;
		background: $gray;
		color: $black;
		border-radius: .3em;
		opacity: 0;
		position: relative;
		left: 0px;
		letter-spacing: 2px;

		&::before {
			-webkit-box-sizing: content-box;
			box-sizing: content-box;
			display: inline-block;
			content: "";
			height:0;
			width:0;
			border: 1em solid $gray;
			border-left-color: rgba(0,0,0,0);
			border-top-color: rgba(0,0,0,0);
			border-bottom-color: rgba(0,0,0,0);
			position: absolute;
			left: -1.8em;
			top: 0.5em;
			pointer-events: none;
		}
	}
}