@media (max-width: 1000px) {

	.wrapper {
		width: 60%;
	}

	.header {
		right: 85%;
	}

	.archive {
		display: none;
	}

}

@media (max-width: 800px) {

	.header {
		position: relative;
		top: 5em;
		left: 0;
	}

	.wrapper {
		width: 70%;
	}

	.archive {
		display: none;
	}
}

@media (max-width: 600px) {
	.header {
		position: relative;
		top: 3em;
		left: 0;
	}

	.colophon {
		display: none;
	}

	.wrapper {
		width: 90%;
	}

	.archive {
		display: none;
	}
}