/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************** NAVIGATOR STYLES ***************/

#navigator {
	background: #212121;
	border-right: 1px solid #292929;
	width: 70px;
	height : 100vh;
	position: fixed;
	top: 0;
	left: 0;
	overflow: visible;
	z-index: 5;
}

#navigator #logo {
	display: block;
	height: 10vh;
	color: #4F4C48;
	text-align: center;
	border-bottom: 1px solid #292929;
	font-family: "ff-spinoza-web-pro";
	font-size: 2.25em;
	position: relative;
}

#navigator #logo span {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#navigator #logo:hover + #description {
	display: block;
}

#description:hover {
	display: block;
}


#description {
	width: 350px;
	position: fixed;
	top: 0;
	left: 70px;
	border: 1px solid #242424;
	background: #212121;
	border-left: none;
	color: #8F8F8F;
	line-height: 1.2;
	display: none;
	padding: 1.5em 0;
	font-family: "inconsolata";
}

#description p,#description ul,#description ol,#description h2 {
	padding: 0 1.5em;
}

#description ol {
	list-style: decimal-leading-zero inside;
}

#description li {
	margin-top: 1em;
}

#description .key-commands {
	margin-top: 1.5em;
	padding-top: 1.5em;
	border-top: 1px solid #242424;
}

#description .key-commands li {
	margin-top: 1em;
}

.key-command {
	display: inline-block;
	border: 1px solid;
	border-radius: 4px;
	padding: .4em .7em;
	margin-right: .5em;
}

#schedule {
	height: 90vh;
	width: 100%;
}

#schedule svg {
	overflow: visible;
}

#schedule svg:hover {
	cursor: crosshair;
}

#schedule .tick {
	stroke: #4D4D4D;
	stroke-width: 1px;
}

.progress {
	fill: #F55925;
}

.guide line{
	stroke : #292929;
	stroke-width: 2px;
}

.wip {
	fill : #4D4D4D;
}

.due {
	fill: #256EF5;
}

.pres {
	fill: #EDCC37;
}

.schedule-connector {
	fill: #212121;
	stroke: #292929;
	stroke-width: 1px;
}

.current-week {
	fill:#242424;
}

#schedule-reader {
	width: 350px;
	position: fixed;
	background:#212121;
	border: 1px solid #292929;
	border-left: none;
	left: 70px;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #E6E6E6;
	padding: 1em;
	z-index: 5;
}

#schedule-reader.panel-review::before {
	content: "Panel Review";
	background: #EDCC37;
	color: #212121;
	position: absolute;
	padding: .2rem .5rem;
	right: 1rem;
	border-radius: 5rem;
	text-align: center;
	font-size: .7rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#schedule-reader h2 {
	font-size: 1em;
	font-weight: 500;
	padding-bottom: 1em;
	border-bottom: 1px solid #292929;
}

#schedule-reader ul {
	padding-left: 3.5em;
	margin-top: 1em;
	vertical-align: middle;
}

#schedule-reader ul li {
	margin-bottom: .5em;
	line-height: 1.4;
	position: relative;
}

#schedule-reader ul li::before {
	content: "";
	color: #212121;
	display: inline-block;
	position: absolute;
	padding: .2rem .5rem;
	left: -3.5rem;
	border-radius: 5rem;
	text-align: center;
	font-size: .7rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#schedule-reader ul.wip-list li::before {
	content: "WIP";
	background: #4D4D4D;
}

#schedule-reader ul.due-list li::before {
	content: "DUE";
	background: #256EF5;
}

.wip-list {

}

.hidden {
	display: none;
}

/************** GRAPH STYLES ***************/

body, html {
	font-family: "aktiv-grotesk-std";
	position: relative;
}

* {
	box-sizing: border-box;
}

#dictionary {
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background: #212121;
}

#dictionary svg {
	position: fixed;
	z-index: 1;
}

.node {
	stroke-width: 0px;
}

.node[data-category="0"] {
	fill : #256EF5;
	stroke : #256EF5;
}

.node[data-category="1"] {
	fill : #3EB571;
	stroke : #3EB571;
}

.node[data-category="2"] {
	fill : #CFB521;
	stroke : #CFB521;
}

.node[data-category="3"] {
	fill : #F55925;
	stroke : #F55925;
}

.node[data-category="4"] {
	fill : #8B4AED;
	stroke : #8B4AED;
}


.node.selected {
	fill : #212121;
	stroke-width: 2px;
}

.node:hover {
	cursor:pointer;
}

.link {
	stroke-width: 1px;
}

.node-label {
	padding: .6em 1em .7em;
	fill: #E6E6E6;
	text-transform: capitalize;
}

/************** DEFINITION STYLES ***************/

.template {
	display: none;
}

#terms {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	width: 325px;
	height : 100vh;
	padding: 1.5em;
	background: #212121;
	border-left: 1px solid #292929;
	position: fixed;
	top: 0;
	right: 0;
	color: #E6E6E6;
	overflow-y: scroll;
	overflow-x: visible;
	z-index: 1;
}

.term-title {
	text-transform:capitalize;
	font-weight: 700;
}

.term-category {
	font-size: .8em;
	color: #949494;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: .8em;
	font-weight: 500;
}

.term-category::before {
	content: "";
	width: 1em;
	height: 1em;
	display: inline-block;
	background: black;
	border-radius: .5em;
	margin-right: .5em;
}

.term-body {
	margin-top: 2em;
	line-height: 1.4;
	margin-bottom : 2em;
	font-weight: 300;
}

.term-body span.term-inline {
	text-decoration: underline;
	cursor: pointer;
	font-weight: 400;
}

.term-media {
	position: relative;
}

.term-media > * {
	max-width: 100%;
	margin-bottom: 1.5em;
}

.term-media img {
	cursor: zoom-in;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	cursor: zoom-out;
}

.overlay > .bg {
	-webkit-transition: opacity .25s ease;
	transition: opacity .25s ease;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	background: #212121;
}

.term-media img.expanded {
	opacity: 0;
}

.overlay img {
	-webkit-transition: top 250ms ease, left 250ms ease, -webkit-transform 250ms ease, width 250ms ease, height 250ms ease;
	transition: top 250ms ease, left 250ms ease, transform 250ms ease, width 250ms ease, height 250ms ease;
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
	position: fixed;
	z-index: 200;
}

hr {
	border: none;
	border-bottom: 1px solid #292929;
	margin-bottom: 2em;
}

.full-term-list ul {
	line-height: 1.6;
}

.full-term-list li {
	text-transform: capitalize;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: .25em;
	cursor: pointer;
}

.full-term-list li::before {
	content: "";
	width: .5em;
	height: .5em;
	display: inline-block;
	border-radius: .35em;
	float: right;
	position: relative;
	top: .6em;
}

h3 {
	font-weight: 700;
	font-size: .8em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 1em;
}

li.tag {
	cursor: crosshair;
	background: #3D4B7A;
	color: #212121;
	display: inline-block;
	line-height: 1;
	font-size: .7em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: .5em calc(.6em - 2px) .45em .6em;
	border-radius: 4px;
	margin-right: .7em;
	margin-bottom: .7em;
}

li.tag.highlight {
	color: #E6E6E6;
}

.term-tags {
	margin-bottom: 1.3em;
}

#tag-list {
	position: relative;
}

#tag-list li {
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
	top: 0;
	left: 70px;
	display: inline-block;
}

.tag-node {
	pointer: cursor;
}

.node-label {
	pointer-events: none;
	font-weight: 300;
}

.tag-node text {
	font-size: .7em;
	font-weight: 500;
	fill: #212121;
	letter-spacing: 2px;
	z-index: 5;
	text-transform: uppercase;
	pointer-events: none;
}

.tag-node.highlight text {
	fill: #E6E6E6;
}

.tag-node rect {
	z-index: -1;
	fill: #3D4B7A;
}

::-webkit-input-placeholder {
   color: #4D4D4D;
}

:-moz-placeholder { /* Firefox 18- */
   color: #4D4D4D;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #4D4D4D;  
}

:-ms-input-placeholder {  
   color: #4D4D4D;  
}

.search-terms {
	width: 100%;
	background: none;
	color: #4D4D4D;
	border: 1px solid;
	border-radius: 4px;
	font-family: "aktiv-grotesk-std";
	font-size: 1em;
	padding: .5em 1em;
	margin-bottom: 2em;
}

.search-terms:focus {
	outline: none;
	color: #E6E6E6;
}

.category-0::before {
	background: #256EF5;
}

.category-1::before {
	background: #3EB571;
}

.category-2::before {
	background: #CFB521;
}

.category-3::before {
	background: #F55925;
}

.category-4::before {
	background : #8B4AED;
}