/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************** NAVIGATOR STYLES ***************/

#navigator {
	background: #212121;
	border-right: 1px solid #292929;
	width: 70px;
	height : 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

#navigator #logo {
	height: 10vh;
	color: #4F4C48;
	text-align: center;
	border-bottom: 1px solid #292929;
	font-family: "ff-spinoza-web-pro";
	font-size: 2.25em;
	position: relative;
}

#navigator #logo span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/************** GRAPH STYLES ***************/

body, html {
	font-family: "aktiv-grotesk-std";
	position: relative;
}

* {
	box-sizing: border-box;
}

svg {
	background : #212121;
	position: fixed;
	z-index: 0;
}

.node {
	stroke-width: 2px;
	stroke : #FFF;
}

.node[data-category="0"] {
	fill : #256EF5;
}

.node[data-category="1"] {
	fill : #3EB571;
}

.node[data-category="2"] {
	fill : #CFB521;
}

.node[data-category="3"] {
	fill : #F55925;
}


.node.selected {
	fill : #212121;
	stroke-width: 2px;
}

.node:hover {
	cursor:pointer;
}

.link {
	stroke-width: 1px;
}

.node-label {
	padding: .6em 1em .7em;
	fill: #FFF;
	text-transform: capitalize;
}

/************** DEFINITION STYLES ***************/

.template {
	display: none;
}

#terms {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	width: 325px;
	height : 100vh;
	padding: 1.5em;
	background: #212121;
	border-left: 1px solid #292929;
	position: fixed;
	top: 0;
	right: 0;
	color: #E6E6E6;
	overflow-y: scroll;
	overflow-x: visible;
	z-index: 1;
}

.term-title {
	text-transform:capitalize;
	font-weight: 700;
}

.term-category {
	font-size: .8em;
	color: #949494;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: .8em;
	font-weight: 500;
}

.term-category::before {
	content: "";
	width: 1em;
	height: 1em;
	display: inline-block;
	background: black;
	border-radius: .5em;
	margin-right: .5em;
}

.term-body {
	margin-top: 2em;
	line-height: 1.4;
	margin-bottom : 2em;
	font-weight: 300;
}

.term-body span.term-inline {
	text-decoration: underline;
	cursor: pointer;
	font-weight: 400;
}

.term-media {
	position: relative;
}

.term-media > * {
	max-width: 100%;
	margin-bottom: 1.5em;
}

.term-media img {
	cursor: zoom-in;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 3;
	cursor: zoom-out;
}

.overlay > .bg {
	-webkit-transition: opacity .25s ease;
	transition: opacity .25s ease;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	background: #212121;
}

.term-media img.expanded {
	opacity: 0;
}

.overlay img.expander {
	-webkit-transition: top .25s ease, left .25s ease, transform .25s ease, width .25s ease;
	transition: top .25s ease, left .25s ease, transform .25s ease, width .25s ease;
	position: fixed;
	z-index: 200;
}

hr {
	border: none;
	border-bottom: 1px solid #292929;
	margin-bottom: 2em;
}

.full-term-list ul {
	line-height: 1.6;
}

.full-term-list li {
	text-transform: capitalize;
	margin-bottom: .25em;
	cursor: pointer;
}

.full-term-list li::before {
	content: "";
	width: .7em;
	height: .7em;
	display: inline-block;
	border-radius: .35em;
	margin-right: .35em;
	float: right;
	position: relative;
	top: .4em;
}

h3 {
	font-weight: 700;
	font-size: .8em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 1em;
}

.term-tags li {
	cursor: pointer;
	color: #3EB571;
	display: inline-block;
	line-height: 1;
	font-size: .7em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 1px solid;
	padding: .5em calc(.6em - 2px) .45em .6em;
	border-radius: 4px;
	margin-right: .7em;
	margin-bottom: .7em;
}

.term-tags {
	margin-bottom: 1.3em;
}

::-webkit-input-placeholder {
   color: #4D4D4D;
}

:-moz-placeholder { /* Firefox 18- */
   color: #4D4D4D;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #4D4D4D;  
}

:-ms-input-placeholder {  
   color: #4D4D4D;  
}

.search-terms {
	width: 100%;
	background: none;
	color: #4D4D4D;
	border: 1px solid;
	border-radius: 4px;
	font-family: "aktiv-grotesk-std";
	font-size: 1em;
	padding: .5em 1em;
	margin-bottom: 2em;
}

.search-terms:focus {
	outline: none;
	color: #E6E6E6;
}

.category-0::before {
	background: #256EF5;
}

.category-1::before {
	background: #3EB571;
}

.category-2::before {
	background: #CFB521;
}

.category-3::before {
	background: #F55925;
}