/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/************** GRAPH STYLES ***************/

body, html {
	font-family: "aktiv-grotesk-std";
}

* {
	box-sizing: border-box;
}

svg {
	background : #212121;
	position: fixed;
}

.node {
	stroke-width: 2px;
	stroke : #FFF;
}

.node[data-category="0"] {
	fill : #256EF5;
}

.node[data-category="1"] {
	fill : #3EB571;
}

.node[data-category="2"] {
	fill : #CFB521;
}

.node[data-category="3"] {
	fill : #F55925;
}


.node.selected {
	fill : #212121;
	stroke-width: 2px;
}

.node:hover {
	cursor:pointer;
}

.link {
	stroke-width: 1px;
}

.node-label {
	padding: .6em 1em .7em;
	fill: #FFF;
	text-transform: capitalize;
}

/************** DEFINITION STYLES ***************/

.template {
	display: none;
}

#terms {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	width: 325px;
	height : 100vh;
	padding: 1.5em;
	background: #292929;
	position: fixed;
	top: 0;
	right: 0;
	color: #FFF;
	overflow: scroll;
}

.term-title {
	text-transform:capitalize;
	font-weight: 700;
}

.term-category {
	font-size: .8em;
	color: #949494;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: .8em;
	font-weight: 500;
}

.term-category::before {
	content: "";
	width: 1em;
	height: 1em;
	display: inline-block;
	background: black;
	border-radius: .5em;
	margin-right: .5em;
}

.term-category.category-0::before {
	background: #256EF5;
}

.term-category.category-1::before {
	background: #3EB571;
}

.term-category.category-2::before {
	background: #CFB521;
}

.term-category.category-3::before {
	background: #F55925;
}

.term-body {
	margin-top: 2em;
	line-height: 1.4;
	margin-bottom : 2em;
}

hr {
	border: none;
	border-bottom: 1px solid #212121;
	margin-bottom: 2em;
}

.full-term-list ul {
	line-height: 1.6;
}

.full-term-list li {
	text-transform: capitalize;
	margin-bottom: .25em;
	cursor: pointer;
}

h3 {
	font-weight: 700;
	font-size: .8em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 1em;
}

.term-tags li {
	cursor: pointer;
	color: #3EB571;
	display: inline-block;
	line-height: 1;
	font-size: .7em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 1px solid;
	padding: .5em calc(.6em - 2px) .45em .6em;
	border-radius: 4px;
	margin-right: .7em;
	margin-bottom: .7em;
}

.term-tags {
	margin-bottom: 1em;
}